
.new_footer_area {
    background: #0d0a28;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #652cff;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}
.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #652cff;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #652cff;
    border-color: #652cff;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #652cff;
}

.new_footer_top .f_social_icon a:hover {
    background: #652cff;
    border-color: #652cff;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #ecdeff;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #ffffff;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://maruf001-mt.github.io/FO21CCA72A108/img/surface.svg") no-repeat scroll center 0;
    width: 100%;
    height: 200px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://maruf001-mt.github.io/FO21CCA72A108/img/vehicle1.gif") no-repeat center center;
    width: 150px;
    height: 150px;
    background-size:100%;
    position: absolute;
    bottom: 20px;
    left: 30%;
    -webkit-animation: maruf-myfirst 22s linear infinite;
    animation: maruf-myfirst 25s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://maruf001-mt.github.io/FO21CCA72A108/img/vehicle2.gif") no-repeat center center;
    width: 110px;
    height: 110px;
  background-size:100%;
    bottom: 180px;
    left: 45%;
    position: absolute;
    -webkit-animation: maruf-myfirst 30s linear infinite;
    animation: maruf-myfirst 18s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_three {
    background: url("https://maruf001-mt.github.io/FO21CCA72A108/img/man.gif") no-repeat center center;
    width: 90px;
    height: 90px;
    background-size:100%;
    bottom: 130px;
    left: 70%;
    position: absolute;
    -webkit-animation: maruf-myfirst 30s linear infinite;
    animation: man-rotate 35s linear infinite;
}


@-moz-keyframes maruf-myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes maruf-myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes maruf-myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@keyframes man-rotate {
    0% {
      left: -25%;
      transform: rotate(0deg);
    }
    100% {
      left: 100%;
      transform: rotate(360deg);
    }
  }

/*************footer End*****************/